.idea
src
dist/app.d.ts
dist/app.js
dist/index.html

node_modules
Process.md
README.md
.gitattributes
.gitignore
jest.config.js
package-lock.json
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.json
webpack.config.js